# as.relative.path.R     ----


export(as.relative.path, as.rel.path)


# asArgs.R               ----


export(asArgs, from.shell, fileArgs, withArgs)


# check.path.R           ----


export(check.path, check.dir)


# rprojroot.R            ----


export(this.proj)


# this.path.R            ----


export(shFILE, normalized.shFILE)
export(this.path, this.dir)
export(this.path2, this.dir2, this.dir3)
export(here, ici)


# tryCatch2.R            ----


export(tryCatch2)
