useDynLib(this.path, .registration = TRUE, .fixes = "C_")


# all.char.R                 ----


export(Sys.putenv)


# Args.R                     ----


export(asArgs, fileArgs, progArgs, withArgs)


# basename2.R                ----


export(basename2, dirname2)


# check.path.R               ----


export(check.path, check.dir, check.proj)


# ext.R                      ----


export(splitext, removeext, ext, "ext<-")


# from.shell.R               ----


export(from.shell, is.main)


# hooks-for-namespace-events ----


export(OS.type)


# LINENO.R                   ----


export(LINENO)


# path.join.R                ----


export(path.join)


# path.split.R               ----


export(path.split, path.split.1, path.unsplit)


# promises.R                 ----


export(initwd, getinitwd)


# relpath.R                  ----


export(as.relative.path, as.rel.path, rel2here, relpath)


# rprojroot.R                ----


export(this.proj, reset.this.proj)


# this.path.R                ----


export(shFILE, normalized.shFILE)
export(set.this.path.jupyter)
export(this.path, this.dir)
export(this.path2, this.dir2, this.dir3)
export(here, ici)
export(Sys.path, Sys.dir)


# tryCatch2.R                ----


export(tryCatch2)


# wrapsource.R               ----


export(wrap.source, inside.source, set.this.path, unset.this.path)
